{
  "fos_api": {
    "ZOHO_CLIENT_ID": "",
    "ZOHO_CLIENT_SECRET": "",
    "ZOHO_REFRESH_TOKEN": "",
    "FOS_STRATUS_BUCKET": "fos-docs-62105",
    "FOS_MAIL_FROM": ""
  },
  "fos_webhooks": {
    "ZOHO_CLIENT_ID": "",
    "ZOHO_CLIENT_SECRET": "",
    "ZOHO_REFRESH_TOKEN": "",
    "FOS_CRM_WEBHOOK_SECRET": "",
    "FOS_MAIL_FROM": ""
  },
  "fos_jobs": {
    "ZOHO_CLIENT_ID": "",
    "ZOHO_CLIENT_SECRET": "",
    "ZOHO_REFRESH_TOKEN": "",
    "FOS_MAIL_FROM": ""
  }
}
